    @media screen and (max-width: 1366px){
        .hero-text-image .hero-image img{
            width: 90%
        }
        .service-text-image img{
            width: auto;
            height: 34vh
        }
        .section-products{
           
        }
        .section-products .row{
         /*   padding-left: 8em;*/
            padding-top: 2em;
            padding-bottom: 2em;
             margin-left: 3em
        }
        .section_rowheading{
            font-size: 1.4rem;
            margin-right: 2em
        }
    }

    @media screen and (max-width: 770px){
        .hero-text-image .hero-image img{
            width: 80%;
            margin-top: 20%
        }
        .service-text-image img{
            width: auto;
            height: 27vh;

        }
        .section-products .row{
            /*padding-left: 22em;*/
            padding-top: 2em;
            padding-bottom: 2em
        }
        .section_rowheading{
            font-size: 1.4rem;
            margin-right: 2em;

        }
    }
    @media (max-width: 560px) {
        h5{
            font-size: 200%
        }
        h1{
            font-size: 250%
        }
        .service-text-image img {
            width: auto;
            height: 23vh;
        }
        .section-products .row{
            justify-content: space-between;
        }
        .footer-column_0op{
            display: none;
        }
         .hero-text-image .hero-image img{
            width: 70%;
            margin:0 1em;
        }
        .section-products h1{
            font-size: 32px
        }
       /* .section-products .row {
            padding-left: 123vw
        }*/
        /* setting column width to 100% */
        .col {
            width: 100%;
        }

        /* Changes for Nav bar */
        .brand-logo {
            line-height: 75px;
            margin-left: 5%;
        }
        .Connect-Slidebar {
            display: initial;
        }
        .connect-button {
            display: none;
        }
        .nav-bar {
            display: unset;
            justify-content: unset;
            align-items: unset;
        }
        .nav-links {
            display: unset;
            justify-content: unset;
            align-items: unset;
        }
        .checkbtn {
            display: block;
        }
        ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background-color: #444444;
            top: 12vh;
            left: -100%;
            transition: all .5s;
        }
        .nav-links li {
            display: block;
            line-height: 8vh;
            text-align: center;
        }
        .nav-links li a:link, .nav-links li a:visited {
            text-transform: uppercase;
            font-size: 90%;
            font-weight: 700;
            opacity: 1;
        }
        #check:checked~ul {
            left: 0;
        }

        /* Hero Text and Image */
        

        #hti {display:  flex; flex-direction: column;}
        #hi {order: 1;}
        #ht {order: 2;}

        .service-border {
            border: none;
        }

        .client-header h5 {
            font-size: 100%;
        }

        /* width for all images */
        .image{
            width: 100%;
        }

    }