/* -------------------------------------- */

/* -----------BASIC SETUP------------------ */

/* -------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fdfdfd;
    color: #010000;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* -------------------------------------- */

/* -----------REUSABLE COMP------------------ */

/* -------------------------------------- */

/*----------Heading----------*/

h1 {
    font-size: 300%;
    color: #010000;
    font-weight: 700;
}

h2 {
    color: #fdfdfd;
    font-size: 250%;
}

h3 {
    font-weight: 600;
    font-size: 90%;
    margin-bottom: 13px;
    color: #fdfdfd;
    text-align: center;
}

h4 {
    text-align: center;
    color: #010000;
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 2px;
    word-spacing: 5px;
    padding-bottom: 5%;
}

h5 {
    color: #010000;
    font-weight: 500;
    font-size: 250%;
    line-height: 80px;
}

h5::first-line {
    font-size: 50%;
}

/*---Hor- Form-----*/

.Hor-email-box {
    font-size: 80%;
    padding: 5px 5px 5px 5px;
    border: 2px solid #1A1A1A;
    margin-right: 0px;
    margin-top: 50px;
}

.Hor-button {
    position: relative;
    left: -5px;
    font-size: 80%;
    padding: 5px 5px 5px 5px;
    background-color: #1A1A1A;
    border: 2px solid #1A1A1A;
    vertical-align: centre;
    color: #fdfdfd;
    margin-left: 0px 0px;
}

/*----------Paras----------*/

p {
    color: #010000;
    font-weight: 500;
    font-size: 110%;
}


/* -------------------------------------- */

/* -----------HOME PAGE------------------ */

/* -------------------------------------- */

/*--------*/

/*----------HomePage HeroImage/NavBar----------*/

/*--------*/

/*Header-Nav*/

header {
    background-color: #fdfdfd;
}

.new-Nav {
    height: 12vh;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: #fdfdfd;  
}


.nav-bar{
    padding-top: 4.5vh;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo {
    font-size: 150%;
    cursor: pointer;
    text-decoration: none;
    font-weight: 900;
    color: #010000;
    letter-spacing: 1px;
}

.nav-links li {
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
}

.nav-links li a:link, .nav-links li a:visited {
    letter-spacing: 2px;
    text-decoration: none;
    color: #010000;
    text-transform: uppercase;
    font-size: 70%;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.nav-links li a:active, .nav-links li a:hover {
    border-bottom: 2px solid #010000;
}

.connect-button {
    text-align: center;
}

.connect-button button {
    background-color: #F7F7F7;
    text-transform: uppercase;
    border: 2px solid #010000;
    font-size: 60%;
    padding: 7px 7px;
    letter-spacing: 1.5px;
    transition: color 0.2s;
}

.connect-button button:hover {
    background-color: #010000;
    text-transform: uppercase;
    border: 2px solid #010000;
    font-size: 60%;
    padding: 7px 7px;
    letter-spacing: 1.5px;
    color: #F7F7F7
}

/*For Responsive Nav Bar*/
.Connect-Slidebar {
    display: none;
}

.burger{
    display: none;
}

.checkbtn{
    font-size: 30px;
    color: #1d1c1c;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
.checkbtn{
    display: none;
}

#check{
    display: none;
}



/*Hero Image and Text*/

.hero-text-image {
    height: 100vh;
    padding: 5% 0%;
}

.hero-text-box {
    width: 45%;
    padding: 5% 5%;
}

.Hor-email-box {
    width: 50%;
}

.Hor-button {
    width: 40%;
}

/*--------*/

/*----------Features----------*/

/*--------*/

.section-features {
    background-color: #1A1A1A;
    padding-top: 10%;
    padding-bottom: 10%;
}

.section-features>div>h2 {
    text-align: center;
    padding-bottom: 4%;
}

.box {
    padding: 3% 6%;
}

.box-logo {
    text-align: center;
    display: block;
    font-size: 250%;
    color: #fdfdfd;
    margin-bottom: 15%;
}

.box p {
    font-size: 70%;
    line-height: 145%;
    text-align: center;
    font-weight: 500;
    color: #fdfdfd;
}

.Features-button {
    text-align: center;
}

.Features-button button {
    font-size: 80%;
    padding: 5px 5px 5px 5px;
    background-color: #fdfdfd;
    border: 2px solid #fdfdfd;
    vertical-align: centre;
    color: #010000;
    width: 15%;
    margin-top: 3%px;
}

/*--------*/

/*----------Services----------*/

/*--------*/

.section-services {
    padding: 10% 0%;
}

.service-row {
    margin-bottom: 5%;
}

.col-service {
    padding: 2% 10%;
}

.service-border {
    border-right: 2px solid #979797;
}

.service-text-image {
    width: 70%;
    position: relative;
}

.service-image {
    margin: 30px auto;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
}

.section-hover-text {
    position: absolute;
    top: 10%;
    left: 0%;
    overflow: hidden;
}

.section-text {
    opacity: 0;
}

.service-text-image:hover img {
    opacity: 0;
}

.service-text-image:hover .section-text {
    opacity: 1;
}

.services-para {
    width: 70%;
    padding: 20px 0px;
}

.services-button {
    float: left;
}

.services-button button {
    letter-spacing: 1.5px;
    font-size: 65%;
    vertical-align: middle;
    padding: 7.5px 5px 7.5px 5px;
    background-color: #010000;
    border: 2px solid #010000;
    color: #fdfdfd;
    width: 150%;
}

.services-button button span {
    letter-spacing: 0px;
    padding-left: 20px;
}

/*----------------*/

/*---------Products-Section------*/

/*----------------*/

.section-products {
    background-color: #1A1A1A;
}

.product-main {
    width: 500%;
}

.product-main h1 {
    color: #fdfdfd;
    width: 400px;
    padding-bottom: 3%;
    margin-top: -3%;
}

.products {
    padding: 13% 10% 6% 10%;
    display: flex;
    overflow-x: auto;
}

.product-main p {
    color: #fdfdfd;
}

/*Product tiles and hover description*/

.products-text-image {
    margin-left: 7%;
    position: relative;
    height: auto;
    transition: 1s ease;
}

.product-image {
    opacity: 1;
    transition: .5s ease;
    display: block;
    height: auto;
}

.product-hover-text {
    background-color: #d44747;
    padding: 38% 5%;
    color: #fdfdfd;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: hidden;
}

.product-text {
    opacity: 0;
}

.product-text-image:hover img {
    opacity: 0;
}

.product-text:hover {
    opacity: 1;
}

/* Text box and get quote button*/

.products-email-box {
    color: #707070;
    margin-top: 250%;
    height: 15%;
    font-size: 80%;
    padding: 5px 5px 5px 5px;
    border: 2px solid #1A1A1A;
    border-bottom: 2px solid #707070;
    width: 400%;
    text-align: center;
    margin-right: 100%;
    background-color: #1A1A1A;
}

.products-email-button {
    margin-top: 20%;
    font-size: 80%;
    font-weight: 600;
    padding: 5px 5px 5px 5px;
    background-color: #fdfdfd;
    border: 2px solid #fdfdfd;
    vertical-align: centre;
    color: #1A1A1A;
    width: 400%;
    margin-left: 0px 0px;
}

/*----scroll bar====*/

.products::-webkit-scrollbar {
    scroll-padding-bottom: 50px;
    height: 5px;
}

.products::-webkit-scrollbar-track {
    background-color: #1A1A1A;
}

.products::-webkit-scrollbar-thumb {
    background: #fdfdfd;
}

.products::-webkit-scrollbar-track-piece:end {
    margin-right: 33%;
    background-color: #707070;
}

.products::-webkit-scrollbar-track-piece:start {
    margin-left: 33%;
    background-color: #707070;
}

.products-blank-block {
    padding-top: 8%;
}

/*----------------*/

/*---------Client section------*/

/*----------------*/

.client-section {
    background-color: #fdfdfd;
}

.madewithReapit {
    padding: 5% 7%;
}

.client-header {
    text-align: right;
    color: #010000;
    font-size: 200%;
    font-weight: 800;
    margin-bottom: 4%;
}

.client-names {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-names>div {
    font-weight: 700;
    min-width: 20%;
    max-width: 25%;
    text-align: center;
    background-color: #f3f3f3;
    margin: 2%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 80%;
    color: #010000;
    text-transform: uppercase;
}

.client-rows {
    margin-bottom: 5%;
}

.try-products {
    text-align: center;
    margin-top: 15%;
}

.try-products p {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.demo-email-form {
    text-align: center;
    margin-bottom: 18%;
}

.demo-email-form .Hor-email-box {
    width: 25%;
}

.demo-email-form .Hor-button {
    left: -7px;
    width: 15%;
}

.client-app-image {
    width: 100%;
}

/*----------------*/

/*---------Footer------*/

/*----------------*/

footer {
    background-color: #1A1A1A;
    padding: 2% 5% 8% 5%;
}

.footer-column {
    color: #fdfdfd;
    font-size: 70%;
    text-transform: uppercase;
}

.comp-name {
    font-size: 130%;
    text-transform: none;
    font-weight: 900;
    letter-spacing: 1px;
}

.footer-column::first-line {
    font-weight: 800;
}

.footer-links {
    text-decoration: none;
    color: #fdfdfd;
}

.footer-column div {
    margin-top: 6%;
}

.first-link {
    margin-bottom: 9%;
}

.footer-desc {
    margin-top: 2%;
    text-decoration: none;
    color: #fdfdfd;
    font-size: 80%;
}

.footer-email-box {
    height: 25px;
    margin-top: 12%;
    color: #fdfdfd;
    font-size: 100%;
    border: 2px solid #1A1A1A;
    border-bottom: 2px solid #707070;
    width: 100%;
    background-color: #1A1A1A;
}

.footer-email-box::placeholder {
    color: #fdfdfd;
}

.footer-email-button {
    margin-top: 5%;
    font-size: 100%;
    font-weight: 600;
    padding: 5px 5px 5px 5px;
    background-color: #fdfdfd;
    border: 2px solid #fdfdfd;
    vertical-align: centre;
    color: #1A1A1A;
    width: 100%;
}

/* -------------------------------------- */

/* -----------Services PAGE------------------ */

/* -------------------------------------- */

/*--------*/

/*----------Services Page-HeroImage/NavBar----------*/

/*--------*/

.page-hero {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.page-hero-text {
    padding-top: 7%;
    padding-left: 10%;
}

.page-hero-text>h1 {
    font-size: 200%;
}

.page-hero-text>p {
    font-size: 120%;
}

/*--------*/

/*----------page Description----------*/

/*--------*/

.page-detail {
    background-color: #F7F7F7;
}

.page-detail .row h4 {
    padding-top: 3%;
}

.page-desc {
    padding-top: 4%;
    padding-bottom: 8%;
}

.page-desc-text {
    padding-left: 7%;
    padding-right: 5%;
}

.page-desc-text h5 {
    line-height: 75px;
}

.page-desc-image {
    padding-left: 5%;
    text-align: center;
}

.page-desc-para {
    line-height: 150%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #010000;
    font-size: 110%;
}

.page-names {
    width: 100%;
    display: flex;
}

.page-names>div {
    font-weight: 600;
    width: 220px;
    text-align: left;
    background-color: #F7F7F7;
    margin: 10px 10px 10px 0px;
    padding: 20px 20px 20px 0px;
    color: #010000;
    text-transform: uppercase;
}

/*--------*/

/*----------Get Started----------*/

/*--------*/

.page-email-form .try-products {
    text-align: center;
    margin-top: 12%;
}

.page-email-form .demo-email-form {
    text-align: center;
    margin-bottom: 15%;
}

/* -------------------------------------- */

/* -----------Softwares Page------------------ */

/* -------------------------------------- */

.softwares-page .page-hero-text {
    padding-left: 7%;
}

.page-hero-image {
    padding-top: 10%;
    overflow: hidden;
}

.erp-modules {
    width: 100%;
    display: flex;
}

.erp-modules>div {
    font-weight: 600;
    width: 100%;
    text-align: left;
    background-color: #F7F7F7;
    margin: 5px 9px 5px 0px;
    padding: 10px 0px;
    font-size: 90%;
    color: #010000;
    text-transform: uppercase;
}

.fleethuman {
    line-height: 425%;
}

.fleethuman::first-line {
    line-height: 100%;
}